doctype 5
html
  head
    title Årsplan for #{mytitle} #{jbase} #{language}
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width initial-scale=1.0")
    link(rel="stylesheet", href="#{jbase}stat/css/#{version}/yearplan.css")
    link(rel="stylesheet", href="#{jbase}stat/css/#{version}/workbook.css")
    link(rel="stylesheet", href="#{jbase}stat/css/yearplan-menu.css")
    link(rel="stylesheet", href="#{jbase}stat/css/prettify.css")
    script(type="text/javascript", src="#{jbase}stat/js/prettify.js")
    script(type="text/javascript", src="#{jbase}stat/js/d3.v3.min.js")
    link(rel="stylesheet", href="#{jbase}stat/css/redmond/jquery-ui-1.10.0.custom.min.css")
    script(type="text/javascript", src="#{jbase}stat/js/mathjax/MathJax.js?config=default")
    link(rel="icon",       href="#{jbase}stat/img/favicon.ico", type="image/x-icon")
    script.
      var mybase="#{jbase}";
      var language="#{language}";
  body
    #header
        h1#htitle.gui #{mytitle} &nbsp; 
          span#yyear #{schoolyear}
    block content
    script(src="#{jbase}stat/js/jquery-1.9.0.min.js")
    script(src="#{jbase}stat/js/underscore.min.js")
    script(src="#{jbase}stat/js/#{version}/jbbq.min.js")
    script(src="#{jbase}stat/js/tooltip.min.js")
    script(src="#{jbase}stat/js/#{version}/jedi.js")
    script(src="#{jbase}stat/js/#{version}/utils.js")
    script(src="#{jbase}stat/js/#{version}/lang/en.js")
    script(src="#{jbase}stat/js/#{version}/lang/#{language}.js")
    script(src="#{jbase}stat/js/#{version}/plans.js")
    script(src="#{jbase}stat/js/#{version}/rediger.js")
    script(src="#{jbase}stat/js/#{version}/rom.js")
    script(src="#{jbase}stat/js/#{version}/starbkurs.js")
    script(src="#{jbase}stat/js/#{version}/timetables.js")
    script(src="#{jbase}stat/js/#{version}/meetings.js")
    script(src="#{jbase}stat/js/#{version}/quiz.js")
    script(src="#{jbase}stat/js/#{version}/workbook.js")
    script(src="#{jbase}stat/js/#{version}/bortfall.js")
    script(src="#{jbase}stat/js/#{version}/courseeditor.js")
    script(src="#{jbase}stat/js/#{version}/lineplot.js")
    script(src="#{jbase}stat/js/#{version}/tickets.js")
    script(src="#{jbase}stat/js/#{version}/jdiff.js")
    script(src="#{jbase}stat/js/#{version}/setup.js")
    script(src="#{jbase}stat/js/jquery-ui-1.10.0.custom.min.js")
    script(src="#{jbase}stat/js/mylibs/jstat.unmin.js")
    script(src="#{jbase}stat/js/mylibs/jq-flot.min.js")
    script(src="#{jbase}stat/js/jquery.ui.touch-punch.min.js")
